<h1>Users::Posts#index</h1>
<p>Find me in app/views/users/posts/index.html.erb</p>


<% @posts.each do |post| %>
<div>
<%= post.introduction %>
<%= image_tag post.get_image %>
<%= link_to post.user.name, users_user_path(post.user) %>
 <% if signed_in? && current_user.id == post.user_id %>
    <%= link_to '削除', users_user_post_path(post.id),method: :delete, "data-confirm" => "本当に削除しますか？" %>
 <% end %>
</div>
<% end %>
