<h1>ユーザー投稿一覧</h1>


<% @posts.each do |post| %>

<table>
 <tr>
   <th>投稿画像</th>
   <th>投稿者</th>>
   <th>投稿内容</th>
   <th></th>
 </tr>

 <tr>
   <td><%= image_tag post.get_image %></td>
   <td><%= link_to post.user.name,admin_posts_show_path %></td>
   <td><%= post.introduction %></td>
   <td><%= link_to '削除', admin_post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
 </tr>
</table>
  <% end %>
